[2016-10-19 06:30] gep13 opened #2 "Add addin to website to allow for automatic documentation"
i.e. get your addin listed here:

http://cakebuild.net/addins

Please let me know if you have any questions about how to do this.

[2016-10-19 06:31] MihaMarkic commented on #2
Hi Gary,

Sure, but I have no idea how to list it there.

Miha

From: Gary Ewan Park [mailto:notifications@github.com]
Sent: Wednesday, October 19, 2016 8:31 AM
To: MihaMarkic/Cake.Docker Cake.Docker@noreply.github.com
Subject: [MihaMarkic/Cake.Docker] Add addin to website to allow for automatic documentation (#2)

i.e. get your addin listed here:

http://cakebuild.net/addins

Please let me know i

[2016-10-19 06:33] gep13 commented on #2
@MihaMarkic it is done by editing this file:

https://github.com/cake-build/website/blob/develop/src/Cake.Web/App_Data/addins.xml

Have a look at this PR:

https://github.com/cake-build/website/pull/152

This assumes that you have added XML Documentation to your addin, as described here:

http://cakebuild.net/docs/contributing/documentation

Let me know if you have any questions.  Thanks!

[2016-10-19 06:34] MihaMarkic commented on #2
Ok, thanks, will look into.

Miha

From: Gary Ewan Park [mailto:notifications@github.com]
Sent: Wednesday, October 19, 2016 8:34 AM
To: MihaMarkic/Cake.Docker Cake.Docker@noreply.github.com
Cc: Miha Markic Miha@rthand.com; Mention mention@noreply.github.com
Subject: Re: [MihaMarkic/Cake.Docker] Add addin to website to allow for automatic documentation (#2)

@MihaMarkichttps://github.com/MihaMarkic

[2016-11-12 20:35] gep13 commented on #2
@MihaMarkic just wanted to touch base to see if you had considered doing this?  Thanks!

[2016-11-13 16:04] MihaMarkic commented on #2
@gep13 Sure, just wating for some free time. Documentation might be a problem, since I have a ton of properties.

[2016-11-13 16:15] gep13 commented on #2
Nice one!

[2016-11-17 19:53] gep13 commented on #2
Thanks!

[2016-11-17 19:53] #2 closed, assigned to nobody

[2016-12-21 16:55] Symbianx opened #4 "The composer project name setting should of type string"
Hello,
I think the ProjectName property in the DockerComposeSettings class should be a string.
I would submit a PR, but It looks to me you are using some mechanism to generate the settings?

[2016-12-21 17:27] MihaMarkic commented on #4
You are right, it should be string and I use tools to generate plumbing. Unfortunatelly Docker help is so confusing and inconsistent that it always requires a lot of manual work to adjust generated code.
So, I don't regenerate it, at least not for now. And even if I would I'd check for diffs.
So go ahead and generate a PR.

[2016-12-21 18:10] Symbianx commented on #4
Closing this issue in favor of the PR.

[2016-12-21 18:10] #4 closed, assigned to nobody

[2016-12-26 17:51] ngonzalezromero opened #6 "Run Command"
can you add run command please?
https://docs.docker.com/engine/reference/commandline/run/

[2016-12-26 18:08] #6 closed, assigned to nobody

[2017-03-08 17:17] liddellj opened #8 "Error using Cake 0.18.0"
My build started failing today, and it appears to be caused by an assembly version mismatch introduced by Cake 0.18.0 (we're using the bootstrapper script which automatically downloads the latest build of cake).

My (temporary) workaround is to edit `build.sh` to download the 0.17.0 version of `packages.config`:

[code]

[2017-03-08 18:03] MihaMarkic commented on #8
Thanks, it was a wrong dependency in nuget package. I uploaded 0.7.5 that should fix that. Let me know.

[2017-03-09 09:42] liddellj commented on #8
Yup - can confirm that fixes it - thanks for the quick turnaround, and thanks for the awesome project!

[2017-03-09 09:42] #8 closed, assigned to nobody

[2017-04-11 06:41] thiagolunardi opened #9 "DockerPs raising exception: Error: Length cannot be less than zero."
My scenario is:

- Windows 10 build 1607
- Docker for Windows version 17.03.1-ce, build c6d412e
- PowerShell version: 5.1.14393.953

I have two containers running:

[code]
But when trying to run the following `DockerPs()` method:

[code]
It's crashing like this:

[code]

The crashes happens exactly at line `var running = DockerPs();`. I could verify that adding some `Information()` output before a

[2017-04-11 07:40] MihaMarkic commented on #9
Right, PS is half baked right now and waiting for some time to rewrite it properly.
In the meantime you can just blindly stop containers if necessary or something like that?

[2017-05-04 08:32] FlorianHockmann opened #10 "Target NetStandard to support .NET Core"
Could you add NetStandard as a target framework so that Cake.Docker can be used with .NET Core? Note also that there seem to be [plans to deprecate Mono in Cake](https://github.com/cake-build/cake/issues/1512#issuecomment-282415322).

[2017-05-05 08:33] MihaMarkic commented on #10
You mean in nuspec? I have to check out what exactly works. But yes, the idea certainly a good one.

[2017-05-05 09:14] FlorianHockmann commented on #10
I think that you have to specify the target frameworks in the project file. The best option is probably to upgrade to the new `csproj` format which makes it really easy to target multiple frameworks. [This article from Microsoft](https://docs.microsoft.com/en-us/dotnet/articles/core/porting/project-structure) explains how an existing project that only targets .NET Framework can be upgraded to also

[2017-05-05 11:11] MihaMarkic commented on #10
@FlorianHockmann Yes, I know. I'm just trying to understand the Cake's support for .NET Core.

[2017-05-07 11:00] secana commented on #10
Support for NetStandard would be really useful. So a big +1 from my site for this issue.

[2017-05-11 08:54] MihaMarkic commented on #10
I'm certainly looking into this. Anybody knows of a Cake addin that supports .NET Standard?

[2017-05-12 15:57] FlorianHockmann commented on #10
[Cake.Npm](https://github.com/cake-contrib/Cake.Npm) seems to support it in addition to .NET Framework 4.5 and 4.6.

[2017-05-17 10:50] MihaMarkic commented on #10
Looking at Cake.Npm. It references just (non-net standard) Cake.Core. I wonder whether it works fine with Cake.CoreCLR.

[2017-05-19 11:33] MihaMarkic commented on #10
@secana @FlorianHockmann Can you guys give it a spin with .NET Standard/Core?

You'll find it (for testing) on myget at
#addin nuget:https://www.myget.org/f/righthand-test/?package=Cake.Docker

Version is 0.7.7.

[2017-05-19 19:48] rbutcher opened #12 "When running DockerLogin with credentials, the credentials are logged to the console."
### Issue:
As the title says when running DockerLogin with credentials the credentials are written to the console. This can leak credentials that should otherwise be private because they will show up in logs of build/automation tools.

### Expected:
The password should be masked or not included in the output.

[2017-05-20 08:14] MihaMarkic commented on #12
Are they? I mean I merely invoke appropriate docker command line command passing it arguments.
Can you show me your output?

[2017-05-22 02:38] rbutcher commented on #12
Using this [build.cake](https://gist.github.com/rbutcher/0cfe6b2abd8b22cbf96da485e4b3964b)
And invoking with this:
[code]

![image](https://cloud.githubusercontent.com/assets/7253688/26290292/74d4f82c-3e74-11e7-999e-29e606633914.png)

They are when the log verbosity is set to "diagnostic" which is the case for some of our build plans.
After some digging, its the way that the arguments are assemble

[2017-06-06 07:38] secana commented on #10
@MihaMarkic @FlorianHockmann I'll start testing the package this week. As soon as I've some results I'll share my feedback here

[2017-06-06 09:26] secana commented on #10
@MihaMarkic Could you provide an download link for the package? Under Linux it's not possible to use `#addin nuget:...` because there is only the very old mono nuget binary. I would download the package by hand in that case. In the NuGet gallery there's a download link but I cannot find something similar for MyGet.

[2017-06-06 11:31] secana commented on #10
I've tested DockerBuild under Linux in a Cake script and it works with netstandard and .net core. Pretty cool. I'll test a few more things and report back.

[2017-06-07 05:01] secana commented on #10
One small thing: Your **DockerPush*** classes are in the folder **Pull** and the **DockerPull*** classes are in the folder **Push**

I guess that's not the way it was meant to be

[2017-06-07 05:07] secana commented on #10
Summary: I've tested the basic docker stuff and everything works fine with .Net Core

I would say you can publish the new version to NuGet. Regards, secana

[2017-06-07 07:40] MihaMarkic commented on #10
@secana, thank you very much. I'll check about that folders mismatch.

[2017-06-09 07:35] secana commented on #10
@MihaMarkic Could you please upload the 0.7.7 to the NuGet gallery? We could start using it then in our build scripts which would be a great help.
Regards, secana

[2017-06-09 08:13] MihaMarkic commented on #10
Uploaded 0.7.7 to NuGet.org. Thanks @FlorianHockmann and @secana for testing, suggestion and help.

[2017-06-09 08:13] #10 closed, assigned to nobody

[2017-06-09 08:18] MihaMarkic commented on #12
I see.
This is more of a Cake "issue". Actually I doubt it is even an issue. Diagnostic mode is there to help you seeing the actual arguments passed to the command line. OTOH I see somebody could use diagnostics mode to get the credentials.
Anyway, addins don't have control over diagnostics mode AFAIK. Can you raise an issue in Cake github and then get back here if there is anything I can do?

[2017-06-24 19:37] gep13 opened #14 "Would it be possible to use the Cake Contrib Icon for your NuGet Package?"
Thanks again for creating this Cake Addin, we really appreciate the effort that you have put in to creating it.

We, the Cake Team, recently announced a new Cake Contrib Icon, details of which can be found here:

http://cakebuild.net/blog/2017/06/new-cake-contrib-icon

Would you consider changing the nuspec file for your NuGet Package to use this new Cake Contrib Icon?  If so, the recommended URL

[2017-06-29 03:07] gitfool opened #15 "DockerLogin fails with unknown flag on latest docker"
Specifically, `docker login --email` was removed in docker v17.06. See docker-ce [PR-64](https://github.com/docker/docker-ce/pull/64).

[2017-07-01 08:12] MihaMobileAzure commented on #15
Hi @gitfool,

Indeed, a lot has changed recently with docker. Also documentation is much better and I'm thinking about go over all commands and update them.
For now, I'll skip your PR and see if I can update everything. Not sure yet, but thanks anyway.

[2017-07-01 09:35] MihaMobileAzure opened #17 "Pushed first docker v17 preview"
Hi guys,

I've updated settings to match latest Docker (v17) ones. Pushed **0.8** to [myget](https://www.myget.org/feed/righthand-test/package/nuget/Cake.Docker) for now.
Can you give it a try, my Docker for Windows is currently refusing to start so I can quick test it.
Branch is docker-v17, commit is efadc7b61c87f662a86f52232933c001be4ce100.

Related issues: #15, #16, #13.

**BIG NOTE**. Since do

[2017-07-02 07:20] agc93 opened #18 "`Rm` setting in `DockerBuildSettings` causes build to fail"
The `DockerBuildSettings.Rm` property accepts a string and passes that to the command line as an argument to the `--rm` option. As the `--rm` option is a flag, this causes Docker to fail with the "only accepts one argument" error. For example, the following in a script:

[code]

results in a command as follows:

[code]

which errors out with:

[code]

[2017-07-02 09:20] MihaMarkic commented on #18
Good catch, fixed and I've updated with new package (same version) on myget.

[2017-07-02 09:20] #18 closed, assigned to nobody

[2017-07-13 10:14] RehanSaeed commented on #17
I'm trying to pass an array of tags, if this changes from `string[]` to `string`, how do I do this?

I'll also give this a go when I figure out how to use a MyGet package from Cake.

[2017-07-13 11:37] MihaMarkic commented on #17
Yep, you are right. It won't work simply using string instead of string[]. Now, the problem is figuring out what properties are arrays and what aren't. It isn't clear from docs anymore.
Any idea?

[2017-07-13 11:43] MihaMarkic commented on #17
Asked [question](https://github.com/docker/docker.github.io/issues/3886) to docker docs.

[2017-07-17 15:38] Symbianx opened #19 "docker logout command"
Hi,
There isn't support for the docker logout command in this addin.
Is it something that you would be willing to accept in a PR?

It should be fairly straight forward.

[2017-07-19 22:45] gitfool commented on #17
@MihaMarkic Were you using a tool to parse the docker command parameters? Either way it looks like the parameters, and recognising array parameters, will need to be done by hand now.

[2017-07-20 06:53] MihaMarkic commented on #17
@gitfool Sure, I have a tool of mine. The problem is that isn't obvious anymore which parameters are arrays. Not even to humans, at least not to me. The best option would be if the docs team fixes it. The next best option would be if somebody creates a computer readable list of array properties. So the tool can take that list and applies arrays to required ones.

[2017-07-20 06:57] MihaMarkic commented on #19
@Symbianx I won't accept PRs. The reason is pretty simple - I have a tool that generates settings for me so it wouldn't make much sense for you guys to do that by hand.
Instead, list me the commands you need and I'll include them once #17 is solved.
I'll close the issue and include logout in next iteration. But feel free to post command requests in new issues.

[2017-07-20 06:57] #19 closed, assigned to nobody

[2017-08-03 09:06] FalkWinkler opened #20 "DockerComposeSettings Rmi, where is ' set by the `image` field.'"

[2017-08-03 09:08] FalkWinkler commented on #20
Hi,

How can set the parameter 'image' to use docker-compose Rmi all?

[2017-08-06 22:10] gitfool commented on #17
@MihaMarkic I don't think it's a good idea to wait for changes to Docker docs, which may never happen. You already have tooling to handle most the grunt work, so I suggest adding code (or a config file) to manually override the tool output for Docker commands that have "known" array parameters. That way it can be quickly re-generated as needed and keep up with any Docker CLI changes.

[2017-08-18 15:09] HarryMcCarney opened #21 "email is no longer valid in DockerLogin"
new version of docker doesnt accept --email. Need alternative settings class which doesnt pass it in.

[2017-08-21 07:29] gep13 commented on #14
@MihaMarkic just wanted to bump this question a little bit...

Is this something that you think you will be able to get to?  Thanks

[2017-08-22 08:26] MihaMarkic commented on #14
@gep13 Once I find some time, hopefully in a couple of weeks.

[2017-08-22 08:27] MihaMarkic commented on #21
Sorry guys, I'm very busy at the moment, expect something in few weeks timeframe.

[2017-08-22 12:15] gep13 commented on #14
@MihaMarkic sounds good, thanks!  Let me know if you have any questions.

[2017-09-10 15:34] MihaMarkic commented on #17
@gitfool But how do I figure out what properties are arrays?

[2017-09-10 19:12] gitfool commented on #17
@MihaMarkic ... by reading whatever docs are available and by playing with the command-line. Basically it's a manual process that will become correct over time with group effort (through PRs etc). The point is, we can keep moving forward rather than wait for Docker.

[2017-09-10 19:19] MihaMarkic commented on #17
@gitfool Not a good choice. The process has to be automated otherwise is simply too much work. And bloody docker documentation. I guess if there is a way to get that info from the code. I'll try looking into once I have a bit of time.

[2017-09-17 12:36] MihaMarkic commented on #17
Guys, great news for all of us. I've decided to completely rewrite my parser of docker cli and now I'm parsing source code instead of crappy documentation (for such tasks). Should be more reliable.
Regenerated all settings and put a new package to [myget ](https://www.myget.org/feed/righthand-test/package/nuget/Cake.Docker).
It's version 0.8.1.

Give it a try and let me know. If everything works,

[2017-09-17 12:37] MihaMarkic commented on #21
Should be updated, check #7

[2017-09-17 12:37] MihaMarkic commented on #17
* compose commands comming in 0.8.2

[2017-09-17 12:42] MihaMarkic commented on #20
@FalkWinkler There is no parameter image in docker-compose nor rmi command. Can you link URL of command docs?

[2017-09-17 12:43] MihaMarkic commented on #17
Actually docker-compose should be fine.

[2017-09-17 13:03] MihaMarkic commented on #14
Next version has icon.

[2017-09-17 13:03] #14 closed, assigned to nobody

[2017-09-17 13:04] MihaMarkic commented on #15
Updated settings in 0.8.1 - check #7.

[2017-09-17 13:04] MihaMarkic commented on #9
Update. For the time being I removed PS.

[2017-09-17 17:14] MihaMarkic commented on #9
Do you still need it? If so, what specifically you need?

[2017-09-18 07:27] MihaMarkic commented on #17
Updates to 0.8.2
- new commands DockerStart, DockerLogs
- adds Cake-contrib icon
- Updates Cake to 0.22

[2017-09-23 00:04] gitfool commented on #17
There's no prerelease package? I'll wait for the merge; hopefully not long now. 😉

[2017-09-24 08:40] MihaMarkic commented on #17
@gitfool You can find the latest package on [myget](https://www.myget.org/feed/righthand-test/package/nuget/Cake.Docker).
OTOH I might soon release it to official NuGet channel.

[2017-09-25 06:55] gep13 commented on #14
@MihaMarkic that is great news, thank you very much!

[2017-09-30 18:35] MihaMarkic commented on #17
0.8.2 is uploaded to Nuget.

[2017-09-30 18:35] #17 closed, assigned to nobody

[2017-09-30 18:36] #15 closed, assigned to nobody

[2017-09-30 18:36] #21 closed, assigned to nobody

[2017-10-05 08:55] thiagolunardi commented on #9
Well, ordinary I need to list the running containers that I have - if I want to spin up a new redis container, but there is one already running, then I can skip and just warn back, instead of crashing the Task.

I also can check if a container already exists before trying to just start it, and go on.

[2017-12-21 09:45] MihaMarkic commented on #20
Since I've got no feedback, I'll close this for now. Reopen if necessary.

[2017-12-21 09:45] #20 closed, assigned to nobody

[2017-12-24 17:19] #12 closed, assigned to MihaMarkic

[2018-02-27 06:09] secana opened #29 "Cake 0.26.0 support"
Hi,

Cake 0.26.0 was released which finally runs on .Net Core 2.0 and doesn't need .Net Core 1.x anymore to build.

I tried to update our projects to Cake 0.26.0 where we use your plugin but I get the following error message:

[code]

It seems to me, that Cake.Docker needs to reference the new Cake version to work properly.

[2018-02-27 08:46] MihaMarkic commented on #29
Hey, it's been just 12 hours since Cake release :) I'll update hopefully today.

[2018-02-28 14:19] micdah commented on #29
It seems like the default cake setup, automatically tries to run with the latest versions of all dependencies, meaning when we depend on Cake.Docker it tries to use latest Cake.Docker together with Cake.Core which of course fails.

This doesn't seem to be a Cake.Docker issue - more a product of the way dependencies in the cake file are handled.

Seems rather fragile that an update to Cake.Core mea

[2018-02-28 15:57] Kemyke commented on #29
@micdah It is always recommended to pin the addin versions to avoid problems like this.

[2018-02-28 16:16] micdah commented on #29
@Kemyke That is a very good point, we better take a look at that so that we don't end in this kind of predicament in the future. 😄

[2018-02-28 17:05] MihaMarkic commented on #29
Yep, pin that for now, I'll upgrade my addins shortly.

[2018-03-01 08:54] RehanSaeed commented on #29
Blog post has been written: https://cakebuild.net/blog/2018/02/cake-v0.26.0-released

[2018-03-05 08:23] micdah commented on #29
Any updates on how it is going with getting updated to latest cake version?

Are there any of the breaking changes which are causing issues?

[2018-03-05 08:51] MihaMarkic commented on #29
Published to NuGet.

[2018-03-05 08:51] #29 closed, assigned to nobody

[2018-03-05 08:52] micdah commented on #29
I took the liberty of creating a pull request https://github.com/MihaMarkic/Cake.Docker/pull/30

[2018-03-08 14:55] fleed opened #31 "Issue running it on MacOS"
Hi

I'm trying to run a script with Docker tasks on `MacOS`. I'm getting several errors like the following:

[code]

My script uses the following addins:

[code]

My `packages.config` explicitely references Cake `0.26.0`.

I'm running cake through a standard `./build.sh` script.

[2018-03-08 17:04] MihaMarkic commented on #31
I think that was a problem with Cake 0.26 cake-build/cake#2063 which was fixed in 0.26.1. Is this the case for you?

[2018-03-08 17:25] fleed commented on #31
Thank you @MihaMarkic . Updating to `0.26.1` fixed the issue.

[2018-03-08 17:25] #31 closed, assigned to nobody

[2018-03-12 14:22] richardgavel opened #32 "Add support for Docker export"
It would be useful to support Docker export to save an image to a tar file. We are going to be using this to publish images to AWS S3.

[2018-03-12 14:26] richardgavel commented on #32
Never mind, confused export with save.

[2018-03-12 14:26] #32 closed, assigned to nobody

[2018-03-21 09:13] MihaMarkic opened #34 "Updates docker arguments (for platform)"

[2018-03-27 10:51] #34 closed, assigned to MihaMarkic

[2018-04-17 18:06] rmcc13 opened #37 "Memory and memory swap options are ambiguous"
For both `DockerImageBuildSettings` and `DockerContainerRunSettings`, the `Memory` and `MemorySwap` properties are unsigned longs. Setting a value for these properties (35 for example) result in the following command line options `--memory 35` or `--memory-swap 35`. The [docker documentation](https://docs.docker.com/config/containers/resource_constraints/#limit-a-containers-access-to-memory) instr

[2018-04-18 07:18] #37 closed, assigned to MihaMarkic

[2018-04-18 13:47] rmcc13 commented on #37
Wow that was really quick! Thanks for addressing this, this will help me out a lot.

[2018-04-18 13:52] MihaMarkic commented on #37
You're welcome. BTW it affected a few more commands. And thanks for creating an issue.

[2018-04-20 10:37] Duracell1989 opened #38 "missing netstandard, Version=2.0.0.0"
I'm using #addin nuget:?package=Cake.Docker&version=0.9.3
Locally everything works; but when I run this on our build server; it fails:

Running build script...
Could not load <snip>\tools\Addins\Cake.Docker.0.9.3\lib\netstandard2.0\Cake.Docker.dll (missing netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51)

I've checked, and the file is present on that location.

[2018-04-20 11:31] MihaMarkic commented on #38
Is it possible that you have pinned older Cake version?

[2018-04-20 13:13] Duracell1989 commented on #38
I've pinned the 0.26.1 version of Cake.
But, I've also tried the latest (0.27.0) version of Cake which gives the same error.

[2018-04-30 22:25] thzinc commented on #38
I'm running into this error too. (Works locally, but fails on a build server.) I've tried pinning Cake versions `0.26.0`, `0.26.1`, `0.27.0`, and `0.27.1`. It may be that this issue is more related to Cake itself than Cake.Docker.

The most notable change I can see is that the build server reports multiple SDKs installed, which I do not have locally.

[2018-05-01 14:03] MihaMarkic commented on #38
Yeah, I don't know. Will ask Cake guys about it.

[2018-05-05 16:05] MihaMarkic commented on #38
@Duracell1989 @thzinc Cake guys say that most likely .NET/Mono has to be updated on your build server. Can you check what are you running on build server first?

[2018-05-07 07:29] Duracell1989 commented on #38
`dotnet --info`
[code]

Which version is needed?

[2018-05-07 18:29] MihaMarkic commented on #38
Are you guys using Cake.CoreCLR? Otherwise you are using .NET Desktop framework. (relaying message)

[2018-05-16 06:49] Duracell1989 commented on #38
As far as I know; I don't use the Cake.CoreCLR

[2018-05-16 12:09] MihaMarkic commented on #38
@Duracell1989 Can you replace Cake package with Cake.CoreCLR one? In tools/packages.config.

[2018-06-05 19:09] Jericho opened #39 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] You are currently referencing Cake.Core 0.26.0. Please upgrade to 0.28.0
- [ ] The nuget package for your addin should use the cake-contrib icon. Specifically, your addin's `.csproj` should have a line like this: `<PackageIconUrl

[2018-06-11 09:02] #39 closed, assigned to MihaMarkic

[2018-06-15 12:51] Duracell1989 commented on #38
Upgrading Cake to 0.28.0 and Cake.Docker to 0.9.4 fixes the problem for me.

[2018-06-15 12:51] #38 closed, assigned to nobody

[2018-07-11 15:23] disophisis opened #41 "Using PasswordStdin"
Is there an example on how to make use of the PasswordStdin  property in DockerRegistryLoginSettings.cs ?

My understanding is that docker expects input to be piped to the docker login command, but I'm not sure how to do that in the case of a cake script.  Is there an example of that being used somewhere?

[2018-07-11 15:44] Roemer opened #42 "Return container id on DockerRun"
Whould it be possible to return the ContainerID when using DockerRun? Docker itself seems to print it into the console. DockerCreate already does this.

[2018-07-24 06:35] TomaszG opened #43 "Lack of support of -T flag for DockerComposeExec"
**Environment:**

- Windows 10
- Docker for Windows 18.03.1-ce
- Cake 0.29.0
- Cake.Docker 0.9.4
- Jenkins 2.129

**Scenario:**

[code]

The problem is that the above doesn't run when executed by Jenkins, command fails with the following message:

The solution for it is to run **docker-compose exec** command with **-T** switch to disable TTY allocation ([see reference](https://docs.docker.com/comp

[2018-07-24 06:44] TomaszG opened #44 "Pre-command arguments are also inserted as post-command arguments"
**Environment:**

- Windows 10
- Docker for Windows 18.03.1-ce
- Cake 0.29.0
- Cake.Docker 0.9.4

**Code:**
[code]

**Current result:**

The above code produces the following command:
`"C:/Program Files/Docker/Docker/Resources/bin/docker-compose.exe" --verbose up --verbose`
which is incorrect, the **--verbose** switch shouldn't be inserted as post-command argument.

**Expected result:**

`"C:/Prog

[2018-07-25 13:06] MihaMarkic commented on #41
@disophisis Never used that, sorry.

[2018-07-25 13:42] #43 closed, assigned to MihaMarkic

[2018-07-25 17:34] #44 closed, assigned to MihaMarkic

[2018-07-25 17:46] #42 closed, assigned to MihaMarkic

[2018-07-25 18:00] Roemer commented on #42
Awesome, thanks

[2018-08-01 01:13] jonfuller commented on #38
I'm also experiencing this problem, even after using the versions described by @Duracell1989 . I wonder if @thzinc ever got it working on his build server?  (my problems are only on the build server as well)

[2018-08-08 14:11] TomaszG opened #45 "DockerComposeDownSettings doesn't support Rmi flag properly"
According to https://docs.docker.com/compose/reference/down/, the **Rmi** flag needs to have **type** provided, however, it's defined as bool in the code so there's no option to provide the type. Is there any other way to use it?

[2018-08-22 09:28] #45 closed, assigned to MihaMarkic

[2018-08-23 18:44] cbittencourt opened #46 "Cake.Docker 0.9.6 download error"
HI,

After Cake.Docker got updated to 0.9.6 about 1 day ago, our builds started failing with the following error:

[code]

Explicitly setting Cake.Docker to 0.9.5 resolved the issue.

Thanks,
Carlos

[2018-08-24 07:29] MihaMarkic commented on #46
Huh.
Here is what I'm seeing
[code]
I wonder why you get a different URL.Furthermore, the 0.9.6 release is just a minor bug fix of docker-compose arguments, nothing else (AFAIK) changed.
Can you retry and see if it still happens?

[2018-08-30 11:29] dcourvoi opened #47 "'Rm' and 'ForceRM' settings in DockerImageBuildSettings are not applied correctly"
According to https://docs.docker.com/engine/reference/commandline/build/, the docker build command should be used with options like --rm=false, --force-rm=true. This is not the case as of 0.9.6 version.

For example, the following in a script:
`Task("Build")
.Does(() => {
  DockerBuild(new DockerImageBuildSettings{ Rm = true, ForceRm = false }, path: ".");
});`

results in a command as follows:
`d

[2018-08-30 13:49] MihaMarkic commented on #47
hi @dcourvoi

Did you compare using --rm, --rm=true and --rm=false (or --force-rm)? I assume it should work as is (--rm == --rm=true and 'no arg' == --rm=false).

[2018-08-30 13:56] MihaMarkic commented on #46
@cbittencourt Can I close it, or?

[2018-08-30 13:58] dcourvoi commented on #47
Yes, I did and by default (no arg) the intermediate containers are removed. There is a note in the doc link above which says: "If you wish to keep the intermediate containers after the build is complete, you must use --rm=false"

[2018-08-30 20:01] cbittencourt commented on #46
@MihaMarkic yes. I updated the reference back to `#addin "Cake.Docker"` from `addin "nuget:?package=Cake.Docker&version=0.9.5` and it seems to be downloading as expected. I'm not sure why it was failing before, but it seems to be working now. Thanks for following up.

[2018-08-30 20:01] #46 closed, assigned to nobody

[2018-09-02 07:49] MihaMarkic commented on #47
@dcourvoi Indeed it seems that --rm should do --rm=false when false. I also found --disable-content-trust to have a default true (same as --rm).

But not --force-rm. Are you sure about this one?

[2018-09-03 06:15] MihaMarkic commented on #47
I'll close this issue. Feel free to reopen it, if you feel like --force-rm needs update.

[2018-09-03 06:16] #47 closed, assigned to MihaMarkic

[2018-09-14 13:04] dcourvoi opened #48 "DockerComposeUpSettings does not support --scale option properly"
According to https://docs.docker.com/compose/reference/up/, the --scale option needs to have SERVICE=NUM  provided. However, as of 0.9.6, DockerComposeUpSettings defines Scale as bool, so there's no option to define the "SERVICE=NUM".

Is there another way to specify it?

[2018-10-06 18:54] rmcc13 opened #49 "Add support to DockerRun to allow arguments without command name"
I have an image that defines the following `ENTRYPOINT`:
[code]

I like to use `ENTRYPOINT` here so I can treat the above as the base command and be able to pass additional arguments when running a container. The `DockerRun` method in Cake.Docker version 0.9.6 requires passing a command name if I want the tool to pass the arguments to the run command. In the case of `ENTRYPOINT` this does not make

[2018-10-10 05:56] MihaMarkic commented on #49
@rmcc13 Can't you simple pass null or empty string as command?

[2018-10-10 05:57] MihaMarkic commented on #49
I fear that removing command argument won't play well with method overloading, since they are all strings.

[2018-10-10 05:59] #48 closed, assigned to MihaMarkic

[2018-10-10 13:33] rmcc13 commented on #49
Ah, looking at the method signatures, that makes sense. I would be happy using null or empty string, but it looks like [arguments get ignored if the command is null or empty](https://github.com/MihaMarkic/Cake.Docker/blob/master/src/Cake.Docker/Container/Run/Docker.Aliases.Run.cs#L47-L54)

[2018-10-10 13:33] rmcc13 commented on #49
If this is a change you want to support, I'd be happy to submit a PR when I find some time over the next few days

[2018-10-10 14:00] MihaMarkic commented on #49
Yeah, it's a tricky one :)
Sure, it is useful, why not support it.
As a quick solution, passing an space might do.
Right now not really sure how to properly solve it.

[2018-10-16 14:22] Duracell1989 opened #50 "DockerRun doesn't return internal commandline output after upgrading to 0.9.5"
We're using a docker image to run our tests. Before version 0.9.5; we would run this docker image and it would output the commandline output _inside_ the docker towards our Cake build; for example:

[code]
After upgrading to the 0.9.5 (or the 0.9.6); it doesn't output this information anymore. Do we miss some new setting?

I've also run cake with `-verbosity=diagnostic` for both the 0.9.4 and the

[2018-10-17 09:43] MihaMarkic commented on #50
It could be a side effect of [runner.RunWithResult](https://github.com/MihaMarkic/Cake.Docker/commit/45d6751c6bcaf6dee7abcd583a13f79cee63ffe2) change.

[2018-10-17 09:44] MihaMarkic commented on #50
@Duracell1989 So you need to get docker output to parse the results?

[2018-10-17 12:00] Duracell1989 commented on #50
@MihaMarkic; We run this Cake build inside our build-pipeline. The tests write their output towards the command line (stdout) **within** the docker container. Before 0.9.5 the docker container (automatically?) returns this output towards outside of the docker. Which we can see on the command line which is running the Cake build.
Thus; the docker container needs to output/redirect the stdout/cmd/ba

[2018-10-22 08:50] RehanSaeed commented on #41
Would also like to know, `--password` is not secure. Also, in this project, `--password-stdin` is of type `Nullable<bool>`, while Docker lets you pass the password as a string.

[2018-10-25 10:32] MihaMarkic commented on #41
@RehanSaeed From what I understand, `--password-stdin` means that password will be passed through stdin stream. And as is, is correctly a `bool?`. What are you missing is the way to push given password through stdin when `--password-stdin` is used.

[2018-11-07 18:21] gldraphael commented on #50
In my case, I just want to be able to run the image using cake locally during development, using something like:

[code]

The console output would be super useful during development.

[2018-11-09 03:06] richardgavel opened #51 "Implement docker-compose logs"
Add support for a DockerComposeLogs similar to the other DockerCompose* calls.

https://docs.docker.com/compose/reference/logs/

[2018-11-09 18:00] MihaMarkic commented on #49
@rmcc13 Sorry, for the delay. Sure, feel free to create the PM.

[2018-11-09 18:09] #50 closed, assigned to MihaMarkic

[2018-11-09 18:10] MihaMarkic commented on #50
@Duracell1989 I've created methods DockerRunWithoutResult that work as DockerRun was working *before* 0.9.6. Makes sense?

[2018-11-09 18:20] #51 closed, assigned to MihaMarkic

[2018-11-15 12:10] makaanneo commented on #41
I have the same issue.

Is there a solution planed?

[2018-11-15 12:14] MihaMarkic commented on #41
Guys, what exactly is that you wish for? Why is password not secure? How exactly do you want to enter the password during build?

[2018-11-15 12:58] RehanSaeed commented on #41
Using `--password` means that it can get stored in the terminals history of recent commands and is not recommended.

[2018-11-15 13:26] MihaMarkic commented on #41
@RehanSaeed But Cake is obfuscating the value, not sure how it affects terminal history though.

[2018-11-30 09:55] mariuszkerl opened #52 "DockerComposeBuildSettings BuildArg should be string array instead of bool"
I cannot find a way to pass `--build-arg` for `DockerComposeBuild` method. Currently it's of type `bool` and it seems like that's a bug so should be changed to `string[]` instead as it is in `DockerImageBuildSettings`

[2018-11-30 13:37] #52 closed, assigned to mariuszkerl

[2018-12-10 12:03] TomaszG opened #54 "Missing support for docker-compose build --parallel"
Latest docker-compose version supports the parallel build of containers:
https://docs.docker.com/compose/reference/build/

Can we have it in Cake.Docker?

[2018-12-10 17:31] gldraphael commented on #50
Sorry for the late response.
I gave this a shot, and it works just as I wanted it to.

So if I understand correctly, the difference between the two is that `DockerRun` returns the container id while `DockerRunWithoutResult` doesn't?

[2018-12-11 16:09] MihaMarkic commented on #50
Yes, the former one captures output and extracts container id, while the later doesn't capture it and nothing is returned as well.

[2018-12-11 16:18] gldraphael commented on #50
Great, thanks so much!
Only thing left is to document this at https://cakebuild.net/dsl/docker/

On Tue, Dec 11, 2018, 21:39 Miha Markič <notifications@github.com> wrote:

--

Galdin Raphael

Sent from my phone. Excuse the brevity.

[2018-12-11 16:22] #54 closed, assigned to MihaMarkic

[2018-12-11 16:29] MihaMarkic commented on #50
Not sure when the website refreshes the documentation. The docs are there.

[2019-02-01 13:41] zplan opened #55 "DockerComposeUp and DockerComposeDown log output as errors (STDERR)"
When Cake.Docker is running on TFS2017 on premise, the log output shows red entries even if they are no errors like:

--> Creating network "s_default" with the default driver
--> Creating container-x ...

--> [1BStopping container-x ...

So the build is failing, even when everything is ok, but TFS is interpreting the error output as errors.

It looks like the log are written in den STDERR by mista

[2019-02-07 08:07] MihaMarkic commented on #55
How does it work locally?

[2019-02-13 09:36] dcourvoi opened #56 "Add support for quiet, no-parallel and include-deps parameters in DockerComposePullSettings"
DockerComposePullSettings lacks support for the following parameters which can be used with "docker-compose pull". See https://docs.docker.com/compose/reference/pull/.

- -q, --quiet : Pull without printing progress information
- --no-parallel : Disable parallel pulling.
- --include-deps : Also pull services declared as dependencies

[2019-02-14 09:02] #56 closed, assigned to MihaMarkic

[2019-02-19 09:44] zplan commented on #55
Locally it works

[2019-02-19 10:06] MihaMarkic commented on #55
Do this. Run with -Verbosity Diagnostic and check the command line being used on TFS.
If you figure out what command line has to be used on TFS to work properly, let me know.

[2019-02-19 10:35] glitch100 opened #57 "DockerPs not working in latest version"
I can see https://github.com/MihaMarkic/Cake.Docker/issues/9 , is DockerPs still not working?

Simple code like:
[code]
Will not work. It doesn't think `DockerPs` is an alias, where as all other `Cake.Docker` commands work

[2019-02-19 12:27] zplan commented on #55
I have now redirected the log output on TFS depending on STDOUT and STDERR. The STDOUT is empty and all the log entries are in STDERR:

***
Docker-Up
***
Docker command line: -f "Z:/w/1/s/docker-compose.override.yml" --verbose --log-level DEBUG up -d
Standard output:
Standard error:
compose.config.config.find: Using configuration files: Z:/w/1/s/docker-compose.override.yml
docker.utils.config.find

[2019-02-20 19:46] richardgavel commented on #41
One another reason for the add-in to itself take the password provided via the alias parameters and then provide it via stdin to the docker login call on it's own is to avoid this from coming out of the standard error stream. Some builds systems will treat this as a real error, when it isn't. For example, Azure Devops is highlighting this in red in the build log and counting it an an error in the

[2019-02-20 23:07] devlife opened #58 "DockerComposeRunSettings Entrypoint is wrong"
`DockerComposeRunSettings` contains a property for `Entrypoint` which _should_ result in something like `--entrpoint my-entrypoint`. However, this property is a `boolean`, not a `string` and appears to be omitted.

https://github.com/MihaMarkic/Cake.Docker/blob/master/src/Cake.Docker/Compose/Run/DockerComposeRunSettings.cs#L20

[code]

[2019-02-20 23:07] devlife opened #59 "DockerComposeRunSettings Entrypoint is wrong"
`DockerComposeRunSettings` contains a property for `Entrypoint` which _should_ result in something like `--entrpoint my-entrypoint`. However, this property is a `boolean`, not a `string`.

https://github.com/MihaMarkic/Cake.Docker/blob/master/src/Cake.Docker/Compose/Run/DockerComposeRunSettings.cs#L20

[code]

The preceding code generates the following compose command:
`"C:/Program Files/Docker/Do

[2019-02-21 12:13] MihaMarkic commented on #58
@devlife This is a duplicate of #59, right?

[2019-02-21 12:19] #59 closed, assigned to MihaMarkic

[2019-02-21 12:29] MihaMarkic commented on #57
There is no such command at the time. The idea was to parse it's output but then the output was too complex for parsing and I left it out.
You can do _docker ps_ through DockerCustomCommand where you can pass anything as an argument.
I'll also add the proper alias eventually.

[2019-02-21 12:56] #57 closed, assigned to MihaMarkic

[2019-02-21 12:58] MihaMarkic commented on #9
I've added a DockerPs command that returns all the lines it gets in #57 .

[2019-02-21 12:58] #9 closed, assigned to nobody

[2019-02-21 13:10] #58 closed, assigned to nobody

[2019-02-21 14:09] devlife commented on #59
How does https://github.com/MihaMarkic/Cake.Docker/commit/3afeb517fecf1e32bc7651d7d72436d67056c58b close the docker compose entrypoint issue?

[2019-02-21 14:12] devlife commented on #59
Wow thanks for the quick turn around! Do you have a timeframe on putting out a release?

[2019-02-21 15:31] MihaMarkic commented on #59
@devlife I just uploaded it to nuget.org, it should be soon.

[2019-03-08 19:17] jamesrcounts opened #60 "Aliases for Volumes"
Do you have any plan to support the `volume` commands?

For now I'll use `DockerCustomCommand` but would be nice to have direct support.

Is that something that would be reasonable to attempt a PR on?

[2019-03-09 17:19] MihaMarkic commented on #60
Hi, I'd normally say no - but I've given up on automatic code generation.
So, yes, please create a PR - create a Volume directory and stuff the commands in there.

[2019-04-03 13:55] christianbumann opened #61 "DockerBuild Alias quote the path"
The [path](https://github.com/MihaMarkic/Cake.Docker/blob/88abfa406785876788a5e246f170d04d06a1b5d3/src/Cake.Docker/Image/Build/Docker.Aliases.Build.cs#L39) should be quoted.

a) Enhance method description that the path needs to be quoted
b) Auto quote if not quoted

There are other options, but one of them seems good to me

[2019-04-13 06:18] gitfool opened #62 "Bump dependencies to reduce Cake warnings"

[2019-04-15 07:10] #62 closed, assigned to nobody

[2019-04-15 07:38] MihaMarkic commented on #61
Went with b). Path is always quoted now.

[2019-04-15 07:45] christianbumann commented on #61
Thank you for fixing. What if the user of this code already quote itself? Then its double-quoted. This is ok but imho this is a breaking change and should result in a `major` version change if you follow [SemVer](https://semver.org/) numbering.

[2019-04-15 09:02] MihaMarkic commented on #61
You're correct. Perhaps I could check whether it starts and ends with quotes and only quote if it doesn't.

[2019-04-15 10:09] #61 closed, assigned to MihaMarkic

[2019-04-15 10:09] #60 closed, assigned to nobody

[2019-04-20 21:37] Jericho opened #64 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] The nuget package for your addin should use the cake-contrib icon. Specifically, your addin's `.csproj` should have a line like this: `<PackageIconUrl>https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png<

[2019-04-20 21:40] Jericho commented on #64
We performed a follow up automated audit of your Cake addin and found that the issues we previously identified have been resolved. Thank you!

Please be aware that some of the recommendations we made in our last audit (which took place in June 2018) have changed. For instance, we now recommend that addins use Cake 0.33.0 (rather than 0.28.0) and also, due to the [announced demise of the rawgit CDN

[2019-04-20 21:40] #64 closed, assigned to nobody

[2019-04-20 21:50] Jericho opened #65 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] The nuget package for your addin should use the cake-contrib icon. Specifically, your addin's `.csproj` should have a line like this: `<PackageIconUrl>https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png<

[2019-04-20 21:52] Jericho commented on #65
We performed a follow up automated audit of your Cake addin and found that the issues we previously identified have been resolved. Thank you!

Please be aware that some of the recommendations we made in our last audit (which took place in June 2018) have changed. For instance, we now recommend that addins use Cake 0.33.0 (rather than 0.28.0) and also, due to the [announced demise of the rawgit CDN

[2019-04-20 21:52] #65 closed, assigned to nobody

[2019-04-20 22:07] Jericho opened #66 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] The nuget package for your addin should use the cake-contrib icon. Specifically, your addin's `.csproj` should have a line like this: `<PackageIconUrl>https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png<

[2019-04-20 22:16] Jericho commented on #66
We performed a follow up automated audit of your Cake addin and found that the issues we previously identified have been resolved. Thank you!

Please be aware that some of the recommendations we made in our last audit (which took place in June 2018) have changed. For instance, we now recommend that addins use Cake 0.33.0 (rather than 0.28.0) and also, due to the [announced demise of the rawgit CDN

[2019-04-20 22:16] #66 closed, assigned to nobody

[2019-04-21 00:07] Jericho opened #67 "Recommended changes resulting from automated audit"
We performed an automated audit of your Cake addin and found that it does not follow all the best practices.

We encourage you to make the following modifications:

- [ ] The nuget package for your addin should use the cake-contrib icon. Specifically, your addin's `.csproj` should have a line like this: `<PackageIconUrl>https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png<

[2019-04-23 08:00] #67 closed, assigned to nobody

[2019-05-02 08:58] LionelLalandeBetclic opened #68 "Add support for docker-compose port and ps"
We need to retrieve easily the port of a docker-compose service without fetching Container ID before.
Also, we would like to have the `docker-compose ps` to fetch some information.

PS: I give you PATCH files to Apply modifications

[Cake.Docker.zip](https://github.com/MihaMarkic/Cake.Docker/files/3137319/Cake.Docker.zip)

[2019-05-03 12:48] #68 closed, assigned to nobody

[2019-05-03 12:49] MihaMarkic commented on #68
Thanks for the contribution. I have to change port result to IEnumerable&lt;string&gt; though - since the result is very unpredictable (i.e. in my case I was getting _0.0.0.0:8079_  or one could get something else).

[2019-05-06 07:16] LionelLalandeBetclic commented on #68
Your welcome and thank you for your feedback!

[2019-05-07 16:25] richardgavel commented on #41
FYI, it looks like there is a blocker to putting this functionality in, as the stdin does not appear to be exposed on Cake's IProcess interface (https://github.com/cake-build/cake/issues/1480)

[2019-05-13 10:27] pascalberger opened #69 "Use DirectoryPath type for passing path to aliases"
The [DockerBuild alias](https://github.com/MihaMarkic/Cake.Docker/blob/9cd74191ca5aa1e5296199291ec639075fb4e8fd/src/Cake.Docker/Image/Build/Docker.Aliases.Build.cs#L17) currently expects the path as a `string`. It would be more "Cake-like" if path parameter would be of type [DirectoryPath](https://cakebuild.net/api/Cake.Core.IO/DirectoryPath/).

Maybe there are also other places where [DirectoryPa

[2019-05-13 10:30] MihaMarkic commented on #69
@pascalberger You are certainly correct. The thing was, that most of the settings were autogenerated from sources, where it isn't evident what string represents. Since then I dropped autogeneration (too fuzzy) and settings are manually added/changed.
So, yes, we can slowly replace them where it fits - it isn't a breaking change, right?

[2019-05-13 10:32] pascalberger commented on #69
It shouldn't be breaking as you still can pass a `string` afterwards

[2019-05-13 10:32] MihaMarkic commented on #69
Good. I will keep in mind this, and if somebody provides PRs, I'll gladly merge them.

[2019-07-23 16:42] mmisztal1980 opened #70 "docker-compose run - unable to provide volumes"
Hi @MihaMarkic , I'm trying to execute an equivalent of:

`docker-compose run -v {hostPath:containerPath} {service-name}` but my impression is that this is not currently supported.

Is there any way I can have this executed using `Cake.Docker` ?

[2019-07-23 16:45] mmisztal1980 commented on #70
If I'm reading the source code right, what's missing is:

[code]

[2019-07-28 12:48] MihaMarkic commented on #70
@mmisztal1980 For the workaround, there is CustomCommand where you can put anything. I'll implement volume parameter soon.

[2019-07-28 12:54] MihaMarkic commented on #70
@mmisztal1980 Is it ok to use quotes with volumes? Like
`docker-compose run --volume "host:guest"`
I guess so

[2019-07-28 12:55] #70 closed, assigned to MihaMarkic

[2019-08-20 21:21] gitfool opened #72 "Support docker manifest commands"
See [docker manifest](https://docs.docker.com/engine/reference/commandline/manifest/). In particular, I need the child command [docker manifest inspect](https://docs.docker.com/engine/reference/commandline/manifest_inspect/).

Note: this is considered an "experimental" command, so the docker process should be executed by passing the `DOCKER_CLI_EXPERIMENTAL=enabled` environment variable, which als

[2019-11-05 16:10] MihaMarkic opened #73 "Support for experimental commands"
When using experimental commands, docker process should be executed by passing the DOCKER_CLI_EXPERIMENTAL=enabled environment variable, which also avoids changing the user's docker config file.
#72

[2019-11-05 16:25] #72 closed, assigned to MihaMarkic

[2019-11-05 16:40] MihaMarkic commented on #73
Experimental commands have to have their settings class decorated with ExperimentalAttribute

[2019-11-05 16:47] #73 closed, assigned to MihaMarkic

[2019-11-11 18:49] gitfool commented on #72
Sorry, I've been too distracted to help, so many thanks for your changes, @MihaMarkic!

[2019-12-07 03:43] gitfool commented on #72
@MihaMarkic Any chance of a stable release with this?

[2019-12-08 15:53] MihaMarkic commented on #72
@gitfool 0.11 has been released, sorry for the delay.

[2019-12-09 20:25] gitfool commented on #72
@MihaMarkic this works but is cumbersome to use. For example, consider the use case where I need to detect if a docker manifest already exists. I can do this now with:
[code]
... but this can't check the reason for process failure, which throws an exception due to exit code 1, and has to assume it's because the image manifest does not exist.

Ideally, there's a `DockerManifestExists` helper in `Ca

[2019-12-10 16:17] MihaMarkic commented on #72
@gitfool Perhaps it would solve it if DockerManifestInspect returned an IEnumerable<string> with command result?

[2019-12-10 16:48] gitfool commented on #72
@MihaMarkic yes, access to the command output would help, although I still think a helper like `DockerManifestExists` that builds on top of `DockerManifestInspect` would be really nice.

[2019-12-10 16:51] MihaMarkic commented on #72
@gitfool The problem with such helpers is that the docker command output format isn't something one could count on. It might change, it could be formatted differently on god knows what parameters.

[2019-12-10 17:01] gitfool commented on #72
The helper could limit the input parameters to avoid anything that affects output formatting, but only needs to check for the `no such manifest` magic string.

Anyway, if you still don't like the idea, that's fine but please do surface the output so it can be checked outside the library. It would be json if successful, otherwise free-form text with an error message.

[2019-12-11 07:05] MihaMarkic commented on #72
@gitfool Usually it's just text that the command outputs to standard output.

[2019-12-17 17:15] obeyda opened #74 "List images method"
i couldn't find any method to list all images or one specifying something like a glob/filter, is that possible?

[2020-01-14 09:54] Roemer opened #75 "Docker Swarm Commands"
Any plans to support the various docker swarm commands like:
- nodes
- services
- stack
etc?

[2020-01-14 12:21] MihaMarkic commented on #75
Hi @Roemer

No plans ATM since swarm is kinda obsolete in favor of kubernetes. But if you feel contributish, do it.

[2020-01-31 14:29] Reshiru opened #76 "Question: Run with pipe in / out"
Hi there,

Is there any way to execute a command like this with docker run only or as custom command?

The goal is to pipe in a file or data which is then converted to some other file.
The output should then be written to a file (pipe out).

-> docker run -i --rm quay.io/coreos/fcct:v0.2.0 -pretty -strict < {ignitionFolder}/ignition.fcc > {outputFolder}/converted.ign

[2020-02-01 09:28] MihaMarkic commented on #76
You might try with argument customization, like this: https://github.com/cake-contrib/Cake.AppCenter/issues/11

[2020-02-03 09:49] Reshiru commented on #76
First, thank you for your fast answer :)
Second, I was able to get the execute command to look like that, but sadly I'm not able to get any result out of it.

Executing: "C:/Program Files/Docker/Docker/Resources/bin/docker.exe" run --interactive quay.io/coreos/fcct:v0.2.0 -pretty -strict < C:/Users/{user}/source/ignition.fcc > C:/Users/{user}/source/output/out.ign

If I run it manually I get the e

[2020-02-21 08:48] MihaMarkic commented on #76
@Reshiru Instead of calling DockerRun, try with DockerRunWithoutResult. The former hijacks the results.

[2020-04-18 00:44] mmisztal1980 opened #77 "Docker.Cake adds an empty -p to DockerComposeRun?"
Hi @MihaMarkic , I'm attempting to do a `DockerComposeRun`

I'm building the settings and executing the command in the following way:

[code]
Which results in something like:
[code]
What caught my eye is the lone `-p` which is obviosly missing a port binding (which was never specified). Any idea how it got there?

[2020-04-19 07:04] mmisztal1980 commented on #77
I'm debugging the issue, this is the complete `DockerComposeRunSettings` in JSON form:
[code]

[2020-04-25 19:42] mmisztal1980 commented on #77
found the issue, the culprit was `"ProjectName": ""`

[2020-04-25 19:42] #77 closed, assigned to nobody

[2020-08-28 20:45] mabead opened #78 "Resolved tool path for "docker" should be the linux version of docker when running under WSL"
Copied from https://github.com/cake-build/cake/issues/2843.

### What You Are Seeing?

I am running a cake script under wsl 2. When the `DockerRun` function is invoked, it uses the `docker.exe` in my windows env instead of the `docker` in my linux distribution, thus resulting in errors when mounting volumes. Ex:

[code]

### What is Expected?

The resolved tool path should be `/usr/bin/docker` ins

[2020-08-28 20:48] mabead commented on #78
Could this be solved by simply changing the orders of the executables [here](https://github.com/MihaMarkic/Cake.Docker/blob/cf5ffce169b6022f3377947d541b0272141f5471/src/Cake.Docker/DockerTool.cs#L52)? To be more precise, maybe changing `return new[] { "docker.exe", "docker" };` by `return new[] { "docker", "docker.exe" };` would do the job. That way, the wsl version would win over the windows vers

[2020-08-28 20:52] devlead commented on #78
Yes looking at code `docker.exe` is resolved first
https://github.com/MihaMarkic/Cake.Docker/blob/master/src/Cake.Docker/DockerTool.cs

A quick workaround for you could be setting `ToolPath` on `DockerContainerRunSettings`

`ToolPath = Context.Tools.Resolve("docker") ?? Context.Tools.Resolve("docker.exe")`

[2020-09-03 06:27] #78 closed, assigned to nobody

[2020-09-03 06:31] MihaMarkic commented on #75
@Roemer
I'll close this issue for now, but feel free to reopen it if you create those commands (also if there is a bigger demand, I can do it).

[2020-09-03 06:31] #75 closed, assigned to nobody

[2020-09-03 07:14] MihaMarkic commented on #74
Will add also container ls command

[2020-09-03 07:14] #74 closed, assigned to MihaMarkic

[2020-09-03 10:04] gitfool commented on #78
FWIW, another approach, which I use, is to configure WSL[2] to _not_ append the Windows path via `/etc/wsl.conf`:
[code]
Note that WSL2 thunks back to Docker Desktop:
[code]

[2021-01-18 18:59] BartNetJS opened #82 "Push to a private registry"
I try to upload an image to a private repo.
I can login successfully, but when I call DockerPush, the upload is to docker.io instead of the private registry

![image](https://user-images.githubusercontent.com/4865355/104953527-dd87e700-59c6-11eb-9a17-a788527eb099.png)

I don't see an option to add the server name to DockerPush:

This is my code:

            context.DockerLogin(new DockerRegistryL

[2021-01-19 15:58] BartNetJS commented on #82
I had to add a tag with the server name

context.DockerTag(tag, $"{server}/{tag}");

[2021-01-19 15:58] #82 closed, assigned to nobody

[2021-01-21 19:40] tgharold opened #83 "DockerComposePull() is searching for docker-compose.exe under Ubuntu 20.04"
Have tried version 0.11.1 and 0.10.0 on our AppVeyor Ubuntu2004 build instance.  When we get down to the line in the build.cake of `DockerComposePull();`, it errors out because it can't find `docker-compose.exe` in the PATH.

Looks like [this logic](https://github.com/MihaMarkic/Cake.Docker/blob/master/src/Cake.Docker/DockerComposeTool.cs#L46-L53) needs the same treatment as [was done for the dock

[2021-02-14 20:59] gitfool opened #85 "Bump dependencies to reduce Cake warnings"
Similar to #62 but for [Cake v1.0.0](https://cakebuild.net/blog/2021/02/cake-v1.0.0-released).

[2021-02-15 08:32] MihaMarkic commented on #83
Are you having problems with WSL or on native linux? The original problem was because on WSL there are both binaries, while it should work on native linux regardless of the order. If it this is the case, then is it possible that docker-compose is not in the path?

[2021-02-15 08:33] #85 closed, assigned to nobody

[2021-02-15 08:33] MihaMarkic commented on #76
Since lack of activity I'm closing this issue. Feel free to reopen it if necessary.

[2021-02-15 08:33] #76 closed, assigned to nobody

[2021-02-15 08:35] MihaMarkic commented on #55
Since the issue is outdated, I'll close it. Feel free to reopen it if necessary.

[2021-02-15 08:35] #55 closed, assigned to nobody

[2021-02-15 08:35] MihaMarkic commented on #49
Since the issue is outdated, I'll close it. Feel free to reopen it if necessary.

[2021-02-15 08:35] #49 closed, assigned to nobody

[2021-02-15 08:36] MihaMarkic commented on #41
Since the issue is outdated, I'll close it. Feel free to reopen it if necessary.

[2021-02-15 08:36] #41 closed, assigned to nobody

[2021-02-15 13:02] tgharold commented on #83
It was native Linux (a build image on a CI/CD server).

[2021-02-15 13:08] MihaMarkic commented on #83
Hm, I sense path problems. Did you try with fresh 1.0.0 yet?

[2021-02-15 13:30] tgharold commented on #83
Given the experiments that I ran at the end of January when I put in PR 84 -- you are correct that docker-compose was not actually in the build path on that CI/CD image.  While PR 84 was probably correct for addressing a potential WSL issue - it was not the actual fix for this issue.

---

Rather than install docker-compose on the build image, we switched to using a "docker run" approach where the

[2021-02-15 22:35] karim007 opened #87 "DockerPush push only the latest tag"
Hi,

After the upgrade, I noticed that the DockerPush method push only the latest tag and not the other tags.
I am pushing the image with the following instruction:
`    DockerPush($"{registry_url}/{app_image}");
`

It is not possible to push multiples tags anymore?

Thanks in advance for your help.

Karim.

[2021-02-16 10:27] MihaMarkic commented on #83
Thanks for info, I'll close this issue then.

[2021-02-16 10:27] #83 closed, assigned to nobody

[2021-02-16 10:34] MihaMarkic commented on #87
I think --all-tags argument is missing, will add it.

[2021-02-16 10:34] #87 closed, assigned to MihaMarkic

[2021-02-16 16:38] karim007 commented on #87
Do you already know when the next release is planned?

[2021-03-07 08:31] MihaMarkic commented on #87
@karim007 When I make one :) I have to update my other addins first, but it's on my to-do

[2021-03-11 23:43] augustoproiete opened #88 "Add cake-addin tag to Cake.Docker NuGet package"
The [NuGet Gallery](https://nuget.org) will soon include a "Cake" tab with instructions on how to use NuGet packages in Cake build scripts. I'd like to suggest that you include the tag `cake-addin` in the NuGet package of this addin, so that the NuGet Gallery can display the correct instructions to install this addin.

The UI will look similar to this:

![image](https://user-images.githubuserconte

[2021-03-30 06:22] BlythMeister opened #89 "Add support for docker image prune"
It would be nice to have native support for the docker image prune command.

This is useful to cleanup dangling images as a result of building new versions of images.

https://docs.docker.com/engine/reference/commandline/image_prune/

[2021-05-07 10:17] hotchkj opened #91 "Cake.Docker lacks versioning"
The actual assembly in Cake.Docker 1.0.0 has an empty set of version metadata i.e. `0.0.0.0` for assembly identity, this yields some confusing entries in Cake assembly resolution.

[code]

Any conflicting assembly references e.g. in larger Cake builds that bring in multiple versions of dependencies will have no idea which version to load.

[2021-05-07 13:09] augustoproiete opened #92 "Update Cake.Docker NuGet package icon to the new Cake-Contrib logo for Cake addins"
We've recently released new icons for Cake extensions, to help more easily differentiate Cake Addins, Modules, Recipes, etc.

[![cake-contrib logos](https://user-images.githubusercontent.com/177608/116633858-f5a9c380-a930-11eb-8333-e5cd978e3340.png)](https://github.com/cake-contrib/graphics)

More information: https://github.com/cake-contrib/graphics

[2021-05-16 23:19] augustoproiete opened #93 "Update Cake.Docker README: Add link to GitHub Discussions"
We've started using [GitHub Discussions](https://github.com/cake-build/cake/discussions) as the preferred communication channel moving forward (instead of Gitter) because it makes it easier to keep track of discussions in a structured way, especially if multiple discussions are happening at the same time. It also allows to search for previous questions/answers, which can be a helpful resource.

As

[2021-06-21 19:20] gitfool opened #94 "Support `docker buildx` commands"
See [docker buildx](https://docs.docker.com/engine/reference/commandline/buildx) docs, in particular [docker buildx build](https://docs.docker.com/engine/reference/commandline/buildx_build) docs.

[2021-08-08 08:26] dalibormesaric opened #95 "Use docker compose v2"
Are there any plans to use docker compose v2 https://github.com/docker/compose-cli#compose-v2-aka-local-docker-compose ? There are new features being added there, like `docker compose cp` that are not available in the old tool.

[2021-11-20 18:06] MihaMarkic commented on #95
Will consider it, sure.

[2021-11-21 10:24] MihaMarkic opened #96 "Add .NET 5 target"
Add .NET 5.0 target to .NETStandard 2.0 as per cake recomnandations.

[2021-11-29 13:14] SheGe opened #97 "DockerComposeLogs is not returning any value"
`DockerComposeLogs` is not returning any value. Would be nice if it will be returning `IEnumerable<string>` same as `DockerLogs`.

[2021-12-06 06:03] gitfool opened #98 "Update Cake.Docker add-in to target Cake v2.0.0"
[Cake 2.0.0](https://cakebuild.net/blog/2021/11/cake-v2.0.0-released) has been released 🎉

[2021-12-11 02:34] gitfool commented on #91
@MihaMarkic ideally this is fixed and released with #98, when `Cake.Docker` should also be bumped to version `2.0.0`.

[2021-12-18 16:21] #98 closed, assigned to nobody

[2021-12-18 16:25] #88 closed, assigned to MihaMarkic

[2021-12-18 16:25] #96 closed, assigned to MihaMarkic

[2021-12-18 16:25] #89 closed, assigned to nobody

[2021-12-18 16:25] #91 closed, assigned to MihaMarkic

[2021-12-18 16:25] #92 closed, assigned to MihaMarkic

[2021-12-18 16:25] #93 closed, assigned to MihaMarkic

[2021-12-18 17:29] #97 closed, assigned to MihaMarkic

[2021-12-18 17:29] MihaMarkic commented on #94
v1.1.0 supports all buildx commands

[2021-12-18 17:29] #94 closed, assigned to MihaMarkic

[2022-01-16 02:30] gitfool opened #100 "`DockerBuildXBuildSettings` missing `CacheTo` property"
Presumably an oversight since this is only available to `docker buildx build` and not `docker build`.
* Already specified in [BuildX/Build/args.txt](https://github.com/MihaMarkic/Cake.Docker/blob/b5b4c06b854f11c9b03e9eb3e66744d51a7fa8a7/src/Cake.Docker/BuildX/Build/args.txt#L8-L9) matching `docker buildx build` [options](https://docs.docker.com/engine/reference/commandline/buildx_build/#options)
*

[2022-02-16 08:01] #100 closed, assigned to nobody

[2022-02-19 17:55] #95 closed, assigned to MihaMarkic

[2022-02-19 17:57] MihaMarkic commented on #95
FYI added `docker compose cp` for now

[2022-03-27 03:48] gitfool opened #102 "`DockerBuildXBuildSettings` missing properties"
The following properties are already specified in [BuildX/Build/args.txt](https://github.com/MihaMarkic/Cake.Docker/blob/297a98fbfd869cbc75fd6924ecafee8da1688eb7/src/Cake.Docker/BuildX/Build/args.txt) but missing from [BuildX/Build/DockerBuildXBuildSettings](https://github.com/MihaMarkic/Cake.Docker/blob/297a98fbfd869cbc75fd6924ecafee8da1688eb7/src/Cake.Docker/BuildX/Build/DockerBuildXBuildSetting

[2022-04-07 08:00] #102 closed, assigned to nobody

[2022-11-09 12:18] twenzel opened #105 "Support Cake 3.0"

[2022-11-11 08:40] MihaMarkic commented on #105
I'm not exactly sure whether to update or not as there is nothing important for it in 3.0. AFAIK that is.
Is there any good argument for it? (except for warnings annoyance)

[2022-11-11 09:31] twenzel commented on #105
Just to get rid of the warnings annoyance

[2022-11-19 04:40] gitfool commented on #105
@MihaMarkic please accept this update as it drops the out of support frameworks and gets rid of the annoying warnings! 🙏

FWIW, I would also bump the major version of `Cake.Docker`.